<div style="border-radius: 5px; border: 1px solid #CCC; padding: 10px; margin: 10px;">
	<p style="font-weight: bold;"><%= doctor.first_name %> <%= doctor.last_name %></p>
	<p style="font-size: 24px;"><%= doctor.profession.name %></p>
	<%= doctor.address_1 %><br/>
	<%= doctor.address_2 %><br/>
	<%= doctor.zip_code %> <%= doctor.city%><br/>
	<%= doctor.country %>
</div>