<!DOCTYPE html>
<html>
<head>
  <title>DoctorWho</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOLUG4HQ6x_PIOklIRd1ZGo2axPMCXwBI">
    </script>
</head>
<body>

<div class="page-header">
  <h1>Doctor Who</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to "Docteurs", doctors_path %></li>
  <li role="presentation"><%= link_to "Professions", professions_path %></li>
</ul>

<%= yield %>


</body>
</html>
